*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

$blue: #2f87c7;
$yellowclr: #d2b48c;
$brownclr: #d36b4e;
$darkbkue:#245ca5;
$black: #333;
$primaryfont: 'Open Sans', Arial, sans-serif;

.text-red{
    color: #972a2d;
}