*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}

$blue: #2f87c7;
$yellowclr: #d2b48c;
$brownclr: #d36b4e;
$darkbkue:#245ca5;
$black: #333;
$primaryfont: 'Open Sans', Arial, sans-serif;

.text-red{
    color: #972a2d;
}
.more-text{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 1rem;
    &:hover{
        color: #972a2d;
    }
}

.theme-btn{
    background: transparent;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    position: relative;
    text-decoration: none;
    &:hover{
        background: #d2b48c;
        color: #fff;
    }
}
